.loader {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    display: block;
    border-radius: 9999px;
    border: 5px solid $darkColorWOpacity;
    border-left-color: $primaryColor;
    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}