.product_details {
    > a {
        span {
            padding: 0 10px 0 0;
        }
    }
    .product_gallery {
        padding: 20px 0 10px;
    }
    &__more_information {
        h2 {
            padding: 20px 0 0;
            line-height: 1;
            text-align: center;
        }
        p {
            padding: 10px 0;
        }
    }
}

@media (min-width: $breakpointTablet) {
    .product_details {
        &__main {
            display: flex;
        }
    }
}