.product_gallery {
    margin: 0 auto;
    max-width: 500px;
    &__current_photo {
        img {
            width: 100%;
        }
    }
    &__all_photos {
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        img {
            width: 50px;
            margin: 0 10px 0 0;
            &:last-of-type {
                margin: 0;
            }
            &.current_photo {
                border: 2px solid $darkColor;
            }
        }
    }
}

@media (min-width: $breakpointTablet) {
    .product_gallery {
        width: 50vw;
        margin: 0 10px 0 0;
    }
}