.product_gallery {
    &__current_photo {
        img {
            width: 100%;
        }
    }
    &__all_photos {
        width: 100%;
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        img {
            width: 50px;
            margin: 0 10px 0 0;
            &:last-of-type {
                margin: 0;
            }
            &.current_photo {
                border: 2px solid $darkColor;
            }
        }
    }
}

.product_information {
    hr {
        margin: 10px 0;
        height: 1px;
        background-color: $darkColorWOpacity;
        border: none;
    }
    &__overall_details {
        p {
            padding: 5px 0;
            &:first-of-type {
                padding: 0;
            }
            &:last-of-type {
                padding: 0 0 10px;
            }
            &.rating {
                padding: 15px 0;
                span {
                    padding: 0 0 0 5px;
                }
            }
        }
    }
    &__colors {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        span {
            width: 30px;
            height: 30px;
            margin: 0 10px 10px 0;
            &.current_color {
                border: 3px solid $darkColor;
            }
        }
        p {
            padding: 10px 0 0;
        }
    }
    &__price_section {
        padding: 10px 0;
        p {
            padding: 0 0 10px;
            font-size: $mobileFontSize * 1.2;
            font-weight: 600;
        }
        button {
            @include button_primary;
        }
    }
}

.product_details {
    > a {
        span {
            padding: 0 10px 0 0;
        }
    }
    .product_gallery {
        padding: 20px 0 10px;
    }
    &__more_information {
        h2 {
            padding: 20px 0 0;
            line-height: 1;
            // &:first-of-type {
            //     padding: 10px 0 0;
            // }
        }
        p {
            padding: 10px 0;
        }
    }
}