.product_list {
    h2 {
        padding: 0 0 10px;
    }
    &__container {
        padding: 30px 0 10px;
        display: grid;
        grid-template-columns: auto;
        gap: 20px;
    }
    &__no_products {
        hr {
            margin: 0 0 30px;
            height: 1px;
            background-color: $darkColorWOpacity;
            border: none;
        }
    }
    .loader {
        margin: 20px auto 0;
    }
}

@media (min-width: $breakpointTablet) {
    .product_list {
        margin: 0 0 0 30vw;
        padding-left: 40px;
    }
}

@media (min-width: $breakpointDesktop) {
    .product_list {
        &__container {
            grid-template-columns: auto auto;
        }
    }
}

@media (min-width: $breakpointDesktopLarge) {
    .product_list {
        margin: 0 0 0 20vw;
        &__container {
            grid-template-columns: auto auto auto;
        }
    }
}